// -----------------------------------------------
// Images.css.scss
//
// Define images that is used in the app
// -----------------------------------------------

$icons: (
  'icon-play-white'       'icons/icon_play_white_right.png',
  'icon-play-white-big'   'icons/icon_play_white_right_big.png',
  'icon-play-gray'        'icons/icon_play_gray_right.png',
  'icon-play-gray-down'   'icons/icon_play_gray_down.png',
  'icon-play-white-left'  'icons/icon_play_white_left.png',
  'icon-play-white-down'  'icons/icon_play_white_down.png',
  'icon-facebook'         'icons/icon_facebook.png',
  'icon-twitter'          'icons/icon_twitter.png',
  'icon-youtube'          'icons/icon_youtube.png',
  'icon-email'            'icons/icon_email.png',
  'icon-mastercard'       'icons/icon_mastercard.png',
  'icon-arrow-register'   'icons/icon_arrows_register.png',
  'icon-ajax-loader'      'ajax-loader.gif'
);

$icons-fonts: (
  'icon-spin1'          '\e805',
  'icon-calendar-empty' '\e802',
  'icon-angle-back'     '\e800',
  'icon-angle-next'     '\e801',
  'icon-thumbs-up'      '\e806'
);

/*
 * -------------------------------------------
 * Define classes and elements
 * -------------------------------------------
 */

[class*="icon-"] {
  display: inline-block;
  vertical-align: middle;

  &:before { margin-right: $space-10; }

  &[class*="right"]:before {
    margin-right: 0;
    margin-left: $space-10;
  }
}

/*
 * -------------------------------------------
 * Execute mixins
 * -------------------------------------------
 */

@include generate-images-classes( $icons );
@include generate-icon-classes( $icons-fonts );