// -----------------------------------------------
// Variables.css.scss
//
// Contains variables to help on development
// -----------------------------------------------

// -----------------------------------------------
// Define Spaces
// -----------------------------------------------

$space-10: em(10, 16);

// -----------------------------------------------
// Define Colors
// -----------------------------------------------


// -----------------------------------------------
// Define Fonts
// -----------------------------------------------

$icons-font: 'offcanvasIcons';
$default-font: 'Signika', sans-serif;

// -----------------------------------------------
// Define Font Sizes
// -----------------------------------------------

$default-font-size: em(16);