<header class="header">
  <nav class="header-nav">
    <ul class="header-nav-items">
      <li><a href="#" class="open-offcanvas"><i class="icon-navigation"></i></a></li>
      <li><a href="#"><i class="icon-chat"></i>Offcanvas</a></li>
      <li><a href="#"><i class="icon-config"></i></a></li>
    </ul>
  </nav>
</header>