<nav class="offcanvas">
  <dl class="offcanvas-content">
    <dt>Offcanvas Menu</dt>
    <dd><a href="#"><i class="icon-config"></i>Home</a></dd>
    <dd><a href="#"><i class="icon-chat"></i>Music</a></dd>
    <dd><a href="#"><i class="icon-heart"></i>Messages</a></dd>
    <dd><a href="#"><i class="icon-mail"></i>Settings</a></dd>
    <dd><a href="#"><i class="icon-person"></i>Favorites</a></dd>
    <dd><a href="#"><i class="icon-search"></i>Videos</a></dd>
    <dd><a href="#"><i class="icon-video"></i>Search</a></dd>
  </dl>
</nav>